@import './variables.scss';

* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #252727;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper {
  max-width: 1100px;
  margin: $centered;
  padding: 20px 10px 0px 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title{
    font-size: 2.25em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__link{
    color: #252727;
    font-size: 1.1em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.section-title {
  font-size: 1.8em;
}

.add-tooltip {
  color: $gray;
  font-size: 0.88em;
}

.controls {
  button {
    display: inline-block;
    background: $gray;
    border: 1px solid transparent;
    font-size: 1em;
    width: 60px;
    padding: 5px 0;
    cursor: pointer;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.tags {
  input {
    border: 1px solid $gray;
    background: transparent;
    padding: 5px 10px;
  }

  &__list {
    margin-top: 15px;
    max-width: 600px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid $gray;
    }
  }
}

.kanban {
  &_content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__col {
    width: 31.5%;
    min-height: 60vh;
    padding: 10px;
    border-radius: 8px;
    padding-top: 20px;
    background: #D3D3D3;
  }

  .col__ {
    &placeholder,
    &length-info {
      margin: 15px 0 10px 0;
      color: #808080;
      font-size: 0.92em;
    }
  }

  .kanban__item {
    padding: 10px;
    margin-bottom: 10px;
    background: #F8F8FF;
    position: relative;

    .item__title {
      font-size: 1.2em;
      line-height: 1.1em;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 1em;
      font-family: Arial, Helvetica, sans-serif;
      resize: none;
      border: 1px solid $gray;
    }

    textarea {
      min-height: 120px;
    }

    .item__controls {
      position: absolute;
      height: 100%;
      padding: 5px;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      [class^="btn"] {
        position: relative;
        width: 15px;
        height: 15px;
        border: none;
        cursor: pointer;
        opacity: .5;
        background: transparent;
        transition: opacity .4s;

        &:hover {
          opacity: 1;

          &::before {
            visibility: visible;
            opacity: 1;
          }
        }

        &::before {
          position: absolute;
          top: -120%;
          left: -240%;
          content: '';
          width: 90px;
          background: rgba(128, 128, 128, .5);
          visibility: hidden;
          opacity: 0;
          transition: visibility .4s, opacity .4s;
        }
      }

      .btn-remove {
        background: url(../img/close.svg);
        background-size: 100%;

        &::before {
          content: 'Remove task';
        }
      }

      .btn-update {
        background: url(../img/pencil.svg);
        background-size: 100%;

        &::before {
          content: 'Edit task';
        }
      }
    }
  }
}