*{
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #252727;
  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 10px 0 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.col {
  &:first-child {
    width: 58%;
  }

  &:last-child {
    width: 40%;
  }

  &__title {
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__input:not([type="color"]) {
    width: 100%;
    padding: 10px;
    resize: none;
    outline: none;
    border: 1px solid #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

  textarea.col__input {
    min-height: 150px;
  }

  &__input[type="color"] {
    width: 60px;
    padding: 0;
    font-size: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}